{{#each this }}
<li class="list-group-item">
    <div class="row">
        <div class="col-md-1">{{EndpointInfo}}</div>
        <div class="col-md-7">
            <a target="_blank" href="{{URL}}">{{URL}}</a>
        </div>
        <div class="col-md-4">
            <div class="btn-group pull-right">
                <span class="btn {{EnvCSSClass}}">{{Environment}}</span>
                <span class="btn btn-success">{{Service}}</span>
                <span class="btn {{OSCSSClass}}">{{OS}}</span>
                <span class="btn {{SQLCSSClass}}">{{SQL}}</span>
            </div>
        </div>
    </div>
</li>
{{/each}}